*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #d4d8e7;
  --color-bg-sec: #2e393a;
  --color-font: #5fa4a5;
  --color-sec: #dd8069;
  --color-third: #f8be59;
}

html {
  font-size: 62.5%; // 10px
  font-family: 'Poppins', sans-serif; // 'Montserrat', 'Roboto';
}

body {
  // overflow-x: hidden;
  background-color: var(--color-bg-sec);
}

.hero {
  overflow-x: hidden;

  &__content {
    // rotate by tope left corner - default is in middle
    transform-origin: top left;
    transition: transform 0.5s ease-in-out;
    width: 100vw;
    min-height: 100vh;
    padding: 7vh 5vw;
    // position: relative;

    &__circle {
      position: fixed;
      top: -100px;
      left: -100px;

      &__box {
        background-color: var(--color-sec);
        border-radius: 50%;
        z-index: 1;
        width: 200px;
        height: 200px;
        position: relative;
        transition: transform 0.5s linear;

        &--buton {
          position: absolute;
          top: 50%;
          left: 50%;
          height: 100px;
          color: #d4d8e7;
          font-size: 2.5rem;
          cursor: pointer;
          background-color: transparent;
          border: none;
          outline: none;
        }
        .open {
          left: 60%;
        }

        .close {
          top: 60%;
          transform: rotate(90deg);
          transform-origin: top left;
        }
      }
    }

    &__page {
      text-align: center;
      &--title {
        text-align: center;
        font-size: 4rem;
        color: var(--color-bg);
        margin: 2vh 0;
      }
      &--para {
        text-align: left;
        color: var(--color-font);
        font-size: 2rem;
      }
      &--h3 {
        @extend .hero__content__page--title;
        font-size: 3rem;
      }
      &--img {
        max-width: 60%;
        margin-bottom: 2vh;
      }
    }
  }

  // class for js add when hamb icon is clicked
  &__content.show-nav {
    transform: rotate(-20deg);
  }

  &__content {
    &__circle {
      &__box.show-nav {
        transform: rotate(-75deg);
      }
    }
  }

  &__nav {
    position: fixed;
    bottom: 40px;
    left: 0;
    z-index: 50;

    &__ul {
      list-style: none;
      padding-left: 30px;

      &--li {
        text-transform: uppercase;
        margin: 40px 0;
        font-size: 2rem;
        transform: translateX(-125%);
        transition: all 0.5s ease-in-out;

        a {
          text-decoration: none;
          color: var(--color-bg);

          i {
            margin: 0 10px;
          }
        }
      }
    }

    &__ul {
      &--li.show-nav {
        transform: translateX(0%);
        // transition-delay: 0.3s;
      }
      &--li.show-nav + li {
        margin-left: 30px;
        transform: translateX(10%);
      }

      &--li.show-nav + li + li {
        margin-left: 60px;
      }
    }
  }
}
